
<div class="grid grid-cols-12 gap-46 mt-16  px-4 md:px-24">

    <div class="col-span-12 md:col-span-9 md:px-4">
        <div
            class="block  md:p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Información</h5>

        <div class="dark:text-white px-16 mt-12">
            <h2>Luis Francisco Rojas Diaz</h2>
            <p>Última visita: 10 de marzo del 2025</p>
            <p>Chikavi10&#64;gmail.com</p>
            <p>Cliente desde 10 de marzo del 2025</p>
            <p>Pro</p>
            <p>Activo</p>
            <p>Telefono: 123456789</p>
        </div>
        
        </div>

        <div class="grid grid-cols-12 gap-4">
            <div class="col-span-12 md:col-span-6">
                <div
                    class="mt-6 block  p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Rutina de ejercicios</h2>
                    <a  class="text-blue-600 mt-4" routerLink="/admin/business/clients/show/1/exercises">Ver Rutinas</a>
                </div>
            </div>
            <div class="col-span-12 md:col-span-6">
                <div
                    class="mt-6 block  p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Dieta</h2>
                    <a class="text-blue-600 mt-4" routerLink="/admin/business/clients/show/1/diet">Ver Dieta</a>
                </div>
            </div>
        </div>

    </div>
    <div class=" col-span-12 md:col-span-3  mt-8 md:mt-0">
        <div
            class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Información</h5>
        
            <div class="font-normal text-gray-700 dark:text-gray-400">
                <div class="grid grid-cols-12">
                    <div class="col-span-6 text-left">
                        <p>Edad</p>
                    </div>
                    <div class="col-span-6 text-right">
                        <p> 30 años</p>
                    </div>
        
                    <div class="col-span-6 text-left">
                        <p>Altura</p>
                    </div>
                    <div class="col-span-6 text-right">
                        175 cm
                    </div>
                    <div class="col-span-6 text-left">
                        <p>Peso actual</p>
                    </div>
                    <div class="col-span-6 text-right">
                        <p>
                            80kg
                        </p>
                    </div>
                    <div class="col-span-6 text-left">
                        <p>Nivel de actividad</p>
                    </div>
                    <div class="col-span-6 text-right">
                        <p>Moderado</p>
                    </div>
        
                    <div class="col-span-6 text-left">
                        <p>Restricciones</p>
                    </div>
                    <div class="col-span-6 text-right">
                        <p>Ninguna</p>
                    </div>
        
                    <div class="col-span-6 text-left">
                        <p>Duración de las rutinas</p>
                    </div>
                    <div class="col-span-6 text-right">
                        <p>30 minutos</p>
                    </div>
         
                </div>
            </div>
        </div>
        
        <div class="mt-6 block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Meta principal</h5>
        
            <div class="font-normal text-gray-700 dark:text-gray-400">
                <p> Bajar de peso</p>
            </div>
        
        </div>
    </div>

</div>


 
<!-- 
    <div style="padding: 1em;">
        <h2 class="text-3xl font-bold"></h2>
        <p> Bajar de peso</p>
        <p>Ganar musculo</p>
        <p>Mejorar resistencia</p>
        <p>Mantener el peso</p>
        <p>Rehabilitación</p> 
    </div> -->

    

