<div class="p-6 dark:text-white">
    <div class="grid grid-cols-12 mt-12">
        <div class="col-span-12 md:col-span-8">
            <h2 class="dark:text-white text-3xl font-semibold ">Actividades</h2>
        </div>
        <div class="col-span-12 md:col-span-4 dark:text-white text-right mt-12 md:mt-0">
            <button (click)="addDietsToCalendar()"><i class="fa-solid fa-download"></i>&nbsp; Descargar dieta</button>
            &nbsp;&nbsp;
            <button class="bg-white text-gray-900 px-2 py-2 rounded-lg" (click)="addDietsToCalendar()"><i
                    class="fa-solid fa-calendar-days"></i>&nbsp; Agregar al calendario</button>
        </div>
    </div>
    <div class="mb-4 border-b border-gray-200 dark:border-gray-700 ">
        <ul class="flex overflow-x-auto whitespace-nowrap no-scrollbar -mb-px text-sm font-medium text-center"
            id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist">
            <li class="mr-2" role="presentation">
                <button class="capital inline-block p-4 border-b-2 rounded-t-lg" id="monday-tab"
                    data-tabs-target="#monday" type="button" role="tab" aria-controls="monday" aria-selected="false">
                    {{ daysOfThisWeek[0] }}</button>
            </li>
            <li class="mr-2" role="presentation">
                <button class="capital inline-block p-4 border-b-2 rounded-t-lg" id="tuesday-tab"
                    data-tabs-target="#tuesday" type="button" role="tab" aria-controls="tuesday"
                    aria-selected="false">{{ daysOfThisWeek[1] }}</button>
            </li>
            <li class="mr-2" role="presentation">
                <button class="capital inline-block p-4 border-b-2 rounded-t-lg" id="wednesday-tab"
                    data-tabs-target="#wednesday" type="button" role="tab" aria-controls="wednesday"
                    aria-selected="false">{{ daysOfThisWeek[2]
                    }}</button>
            </li>
            <li role="presentation">
                <button class="capital inline-block p-4 border-b-2 rounded-t-lg" id="thursday-tab"
                    data-tabs-target="#thursday" type="button" role="tab" aria-controls="thursday"
                    aria-selected="false">{{ daysOfThisWeek[3] }}</button>
            </li>
            <li role="presentation">
                <button class="capital inline-block p-4 border-b-2 rounded-t-lg" id="friday-tab"
                    data-tabs-target="#friday" type="button" role="tab" aria-controls="friday" aria-selected="false">{{
                    daysOfThisWeek[4] }}</button>
            </li>
            <li role="presentation">
                <button class="capital inline-block p-4 border-b-2 rounded-t-lg" id="saturday-tab"
                    data-tabs-target="#saturday" type="button" role="tab" aria-controls="saturday"
                    aria-selected="false">{{ daysOfThisWeek[5] }}</button>
            </li>
            <li role="presentation">
                <button class="capital inline-block p-4 border-b-2 rounded-t-lg" id="sunday-tab"
                    data-tabs-target="#sunday" type="button" role="tab" aria-controls="sunday" aria-selected="false">{{
                    daysOfThisWeek[6] }}</button>
            </li>
        </ul>
    </div>



    <div id="default-tab-content dark:text-white">
        <div *ngFor="let diet of exercises">
            <div class="hidden p-2 rounded-lg bg-gray-50 dark:bg-gray-800" [id]="diet.day" role="tabpanel"
                aria-labelledby="tuesday-tab">
                <ol class="relative border-s border-gray-200 dark:border-gray-700">
                                <p class="text-right dark:text-white"><i class="fa-solid fa-pen-to-square"></i></p>

                    <div class="bg-white max-w-3xl border rounded-xl shadow-sm sm:flex mt-4" *ngFor="let exercide of [1,1,1,1,1]">
                        <div
                            class="shrink-0 relative w-full rounded-t-xl overflow-hidden pt-[40%] sm:rounded-s-xl sm:max-w-60 md:rounded-se-none md:max-w-xs">
                            <img class="size-full absolute top-0 start-0 object-cover"
                                src="https://www.ejercicios.com/wp-content/uploads/2022/03/brazos-ejercicios.com_.jpg"
                                alt="Card Image">
                        </div>
                        <div class="flex flex-wrap">
                            <div class="p-4 flex flex-col h-full sm:p-7">
                                <h3 class="text-lg font-bold text-gray-800">
                                    Cardio - 30 minutes
                                </h3>
                                <p class="mt-1 text-gray-500">
                                    Some quick example text to build on the card title and make up the bulk of the card's content.
                                </p>
                                <div class="mt-5 sm:mt-auto">
                                    <p class="text-xs text-gray-500">
                                        Last updated 5 mins ago
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </ol>
    
            </div>
        </div>
    </div>

</div>